
input[type=submit] { 
    position: relative; 
    float: right; 
} 

.totalTasks-container{
    justify-content: right;
    padding-top: 1rem;
}

.add-activity-container{
    position: fixed;
    bottom: 0rem;
    width: 100%;
    padding: 1rem;
}
.reset{
    float: right;
}
.add-activity{
    float: left;
}